[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-webostv-dev"]
	path = bundle/vim-webostv-dev
	url = http://mod.lge.com/hub/tv_scm_tool/vim-webostv-dev.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/gutentags_plug"]
	path = bundle/gutentags_plug
	url = https://github.com/skywind3000/gutentags_plus
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
